*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#corpo{
  width: 100%;
  height: 100%;
}
#header{
  width: 100%;
  height: 220px;
}
nav{
  width: 100%;
  height: 37;
  border: 2px solid black;
}
main{
  width: 100%;
  height: 600px;
  font-family: 'Times New Roman';
  text-align: center;
}
.cols{
  float: left;
  border: 2px solid black;
  height: 600px;
  background-color: #F8DE0C;
}
.col1{
  width: 30%;
  
}
.col2{
  width: 40%;
  position: relative;
  
}
.col3{
  width: 30%;
  
}
#col3-sup{
  width: 100%;
  height: 40%;
  border-bottom: 1px dashed black;
}
#col3-inf{
  margin-top: 1px;
  width: 100%;
  height: 60%;
}

footer{
  width: 100%;
  height: 120px;
  background-color: #343F6F;
  text-align: center;
  color: white;
}
ul {
  list-style-type: none;
  padding: 10px 10px 10px 0px;
  margin: 0;
  background-color: #343F6F;
}
li{
  display: inline;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
a:hover{
  background-color: #F8DE0C;
}
.box{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  position: absolute;
}
img, iframe{
  height: 100%;
  width: 100%;
}
